---

default:
  tags: [rtc]
  retry:
    max: 2
    when: runner_system_failure

stages: [lint, build]

lint:
  stage: lint
  image: node:24
  script:
    - npm ci
    - npm run lint

build:
  stage: build
  image: node:24
  script:
    - npm ci
    - npm run build
